.main-div {
    background-image: url("./images/background.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

.scroll-div {
    background-image: url("./images/scroll.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh;
}

.btn-div {
    width: 100%;
}

.my-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-flex-height {
    height: 50%;
}

.my-flex-height-phone {
    height: 20%;
}

.cursive {
    font-family: Apple Chancery, cursive;
}

.spacer {
    height: 12vh;
}

.small-spacer {
    height: 2vh;
}

.phone-spacer {
    height: 33vh;
}

#result {
    width: 35%;
    border-radius: 15px;
    font-size: 2.5vw;
}

.reduced-result-size {
    font-size: 2vw;
}

.phone-title {
    font-size: 6vw;
}

.phone-button-text {
    font-size: 2.5vw;
}

.gone {
    display: none;
}